<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="" />
  <meta charset="utf-8" />
  <title>The Differents - Reno Luxury Rehab</title>
  <link rel="canonical" href="https://www.thediffs.co" />
  <meta property="og:site_name" content="The Differents" />
  <meta property="og:title" content="The Differents - Reno Luxury Rehab" />
  <meta property="og:url" content="https://www.thediffs.co" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta property="og:image" content="./images/diffs-social-logo.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="90" />
  <meta itemprop="name" content="The Differents - Reno Luxury Rehab" />
  <meta itemprop="url" content="https://www.thediffs.co" />
  <meta itemprop="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="twitter:title" content="The Differents - Reno Luxury Rehab" />
  <meta name="twitter:image" content="diffs-social-logo.png" />
  <meta name="twitter:url" content="https://www.thediffs.co" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care 
and a commitment to long-term sobriety and confidentiality." />
  <link rel="stylesheet" type="text/css" href="../../css/site-styles.css" />
  <link rel="stylesheet" href="https://use.typekit.net/uqo4llz.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../images/diffs-favicon-blue.png" />

  <style>
    /* body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      } */

    h1 {
      text-align: center;
      font-size: 2.2rem;
    }

    .container {
      max-width: 70%;
      margin: 0 auto;
      align-self: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    button {
      background-color: #555;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }

    .container {
      padding-top: 40px;
    }

    .container p {
      padding: 10px;
    }

    .drawing-container {
      margin: 0 auto;
      max-width: 512px;
    }

    .drawing-container p {
      text-align: center;
      padding-bottom: 25px;
    }

    .countdown-container {
      max-width: 300px;
      border-radius: 10px;
      background-color: #555;
      margin: 0 auto;
      padding: 20px;
    }

    .countdown-container p {
      background-color: #555;
      color: #ff5;
      text-align: center;
    }

    .user-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      max-width: 70%;
      margin: 0 auto;
    }

    .user-list a {
      text-decoration: none;
      color: #111;
    }

    .user-card {
      display: flex;
      align-items: center;
      background-color: #f2f2f2;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }

    .user-card:hover {
      background-color: #aaa;
      cursor: pointer;
    }

    .user-card h3 {
      margin: 0;
    }

    .user-details {
      flex-grow: 1;
    }

    .user-details h3,
    .user-details p {
      margin: 0;
    }

    .user-card p {
      margin: 0;
    }

    .index-number {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      background-color: #f49d79;
      color: #111;
      border-radius: 50%;
      margin-right: 10px;
    }

    .table-header {
      margin: 20px;
      max-width: 65%;
      margin: 0 auto;
    }

    .table-controls {}

    .table-controls {}

    div.scroll-container {
      background-color: #666;
      width: 600px;
      height: 150px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      padding: 20px;
      margin: 0 auto;
    }

    .header {
      background-color: #f5f5f5;
      padding: 10px;
      text-align: right;
    }

    .user-profile {
      display: flex;
      align-items: center;
      max-width: 50%;
      padding: auto;
      float: right;
    }

    .user-profile img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user-profile .username {
      font-weight: 300;
    }

    .logout-button {
      padding: 5px 10px;
      margin: 10px;
      background-color: #333;
      color: #fff;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <%- include('header', {user: 'Chris Yerga'}) %>
  <div class="user-profile">
    <img src="<%=authedUser.photo%>" alt="User Photo">
    <span class="username"><%=authedUser.name%></span>
    <button class="logout-button">Logout</button>
  </div>
  <div class="bg-mint">
    <div class="container bg-mint">
      <div style="display: inline-block; margin-bottom: 35px">
        <img src="../../images/WCS-Logo-Horiz_4C-1.png" width="32%" />
        <div style="width: 30%; display:inline-block"></div>
        <a href="https://the-differents.com">
          <img src="../../images/differents-logo-whiteprimary_black-large.png" width="32%" />
        </a>
      </div>
      <h1 style="padding-bottom: 24px">Create a new raffle drawing</h1>
      <p style="padding-bottom: 38px">Enter the info for the next drawing. You will be able to start the drawing after you submit this form. It will then appear on the list of <a href="../drawing">completed drawings</a> for users to see.</p>
      <p style="padding-bottom: 38px">Click the buttons below to pre-fill the form or enter your own values. You can edit these afterwards if needed.<a href="../drawing">completed drawings</a> for users to see.</p>
      <button onClick="prefillPen()" style="display: inline-block">TIffany Pen</button>
      <button onClick="prefillAirpods()" style="display: inline-block">AirPods Pro</button>
      <button onClick="prefillCEU()" style="display: inline-block">One Year CEU</button>
      <div style="margin: 25px"></div>
      <form action="./drawing" id="form" method="post">
        <div class="form-group" style="grid-area: name">
          <label for="name">Raffle Name (Required):</label>
          <input type="text" id="name" name="name" placeholder="ie: Tiffany Pen" required />
        </div>
        <div class="form-group">
          <label style="display: inline-block" for="image">Image URL:</label>
          <input type="text" id="image" name="image" />
        </div>
        <div class="form-group">
          <label for="description">Item Description:</label>
          <input type="description" id="description" name="description" required />
        </div>
        <div class="form-group">
          <button type="submit" id="submit-button" onclick="submitClicked()">
            Create Raffle
          </button>
        </div>

      </form>
    </div>

    <div style="padding-bottom: 500px"></div>
  </div>

  <script>
    function prefillPen() {
      document.getElementById('name').value = "Tiffany Pen";
      document.getElementById('image').value = "http://i.pinimg.com/736x/3e/02/a4/3e02a4e82e45552a9e0cdb24a9209741.jpg";
      document.getElementById('description').value = "An elegant sterling silver pen suitable for all manner of written musings";
    }

    function prefillAirpods() {
      document.getElementById('name').value = "Apple Airpods Pro";
      document.getElementById('image').value = "https://m.media-amazon.com/images/I/71zny7BTRlL._AC_SL1500_.jpg";
      document.getElementById('description').value = "Shut out the world with Apple's top-of-the-line Bluetooth earphones";
    }

    function prefillCEU() {
      document.getElementById('name').value = "One Year of CEU";
      document.getElementById('image').value = "https://pryormediacdn.blob.core.windows.net/wordpress/2017/06/ceu-credit-logo.jpg";
      document.getElementById('description').value = "Up to $500 credit towards Continuing Education Units furthering your professional education";
    }
  </script>
</body>

</html>