<nav>
  <a href="https://the-differents.com/" class="custom-logo-link" rel="home" aria-current="page" aria-label="home">
    <img width="30" src="https://the-differents.com/wp-content/uploads/2023/04/logo-header.png" class="custom-logo" alt="The Differents Rehab Clinic" decoding="async" role="none" aria-hidden="true" style="padding-right: 100px; padding-top: 10px; padding-left: 12px" class="header-logo" />
  </a>
  <ul>
    <li class="hide-on-mobile"><a href="https://the-differents.com/about-us/">ABOUT</a></li>
    <li class="hide-on-mobile"><a href="https://the-differents.com/treatment/">TREATMENT</a></li>
    <li class="hide-on-mobile" style="padding-right: 30px"><a href="https://the-differents.com/contact/">CONTACT</a></li>
    <a class="button" href="tel:8882167181" target="_self" style="position: relative; top: -5px" aria-label="call us at: 888 216 7181">(888) 216-7181
    </a>
  </ul>
</nav>