<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="" />
  <meta charset="utf-8" />
  <title>The Differents - Reno Luxury Rehab</title>
  <link rel="canonical" href="https://www.thediffs.co" />
  <meta property="og:site_name" content="The Differents" />
  <meta property="og:title" content="The Differents - Reno Luxury Rehab" />
  <meta property="og:url" content="https://www.thediffs.co" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta property="og:image" content="./images/diffs-social-logo.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="90" />
  <meta itemprop="name" content="The Differents - Reno Luxury Rehab" />
  <meta itemprop="url" content="https://www.thediffs.co" />
  <meta itemprop="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="twitter:title" content="The Differents - Reno Luxury Rehab" />
  <meta name="twitter:image" content="diffs-social-logo.png" />
  <meta name="twitter:url" content="https://www.thediffs.co" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care 
and a commitment to long-term sobriety and confidentiality." />
  <link rel="stylesheet" type="text/css" href="../css/site-styles.css" />
  <link rel="stylesheet" href="https://use.typekit.net/uqo4llz.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../images/diffs-favicon-blue.png" />

  <style>
    /* body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      } */

    h1 {
      text-align: center;
      font-size: 2.2rem;
    }

    .container {
      max-width: 70%;
      margin: 0 auto;
      align-self: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .form-group button {
      background-color: #555;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #45a049;
    }

    .container {
      padding-top: 40px;
    }

    .error-text {
      color: #c00;
      display: none;
    }
  </style>
</head>

<body>
  <%- include('header', {user: 'Chris Yerga'}) %>

  <script>
    function submitClicked() {
      const submitButton = document.getElementById("submit-button");
      submitButton.style.backgroundColor = "#999";
    }
  </script>
  <div class="bg-mint">
    <div class="container bg-mint">
      <h1 style="padding-bottom: 24px">Raffle Entry Form</h1>
      <form action="register" id="form" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <div id='email-error' class="error-text">That email has already registered for the raffle</div>
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone" />
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" />
        </div>
        <div class="form-group">
          <label for="company">Company:</label>
          <input type="text" id="company" name="company" />
        </div>
        <div class="form-group">
          <button type="submit" id="submit-button" onclick="submitClicked()">
            Enter Raffle
          </button>
        </div>
      </form>
    </div>

    <div style="padding-bottom: 500px"></div>
  </div>

  <script>
    // If the fetch() API is available, try to check for a duplicate entry
    // when the user tabs out of the email input field
    if (window.fetch) {
      document.getElementById('email').addEventListener("focusout", async (event) => {
        // Call our /email-registered API
        email = document.getElementById('email').value;
        const response = await fetch(`email-registered/${email}`);
        const dbEmail = await response.json();

        if (dbEmail.exists) {
          // email exists, so display error and disable submit button
          document.getElementById('email-error').style.display = 'block';
          document.getElementById('submit-button').setAttribute('disabled', 'disabled');
          document.getElementById('submit-button').style.backgroundColor = '#aaa';
        } else {
          document.getElementById('email-error').style.display = 'none';
          document.getElementById('submit-button').removeAttribute('disabled');
          document.getElementById('submit-button').style.backgroundColor = '#555';
        }
      });
    }
  </script>
</body>

</html>