<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="" />
  <meta charset="utf-8" />
  <title>The Differents - Reno Luxury Rehab</title>
  <link rel="canonical" href="https://www.thediffs.co" />
  <meta property="og:site_name" content="The Differents" />
  <meta property="og:title" content="The Differents - Reno Luxury Rehab" />
  <meta property="og:url" content="https://www.thediffs.co" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta property="og:image" content="./images/diffs-social-logo.png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="90" />
  <meta itemprop="name" content="The Differents - Reno Luxury Rehab" />
  <meta itemprop="url" content="https://www.thediffs.co" />
  <meta itemprop="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="twitter:title" content="The Differents - Reno Luxury Rehab" />
  <meta name="twitter:image" content="diffs-social-logo.png" />
  <meta name="twitter:url" content="https://www.thediffs.co" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care and a commitment to long-term sobriety and confidentiality." />
  <meta name="description" content="Luxury drug and alcohol rehab treatment in Reno NV providing comfort, care 
and a commitment to long-term sobriety and confidentiality." />
  <link rel="stylesheet" type="text/css" href="../css/site-styles.css" />
  <link rel="stylesheet" href="https://use.typekit.net/uqo4llz.css" />
  <link rel="shortcut icon" type="image/x-icon" href="../images/diffs-favicon-blue.png" />

  <style>
    /* body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
      } */

    h1 {
      text-align: center;
      font-size: 2.2rem;
    }

    .container {
      max-width: 70%;
      margin: 0 auto;
      align-self: center;
    }

    #formz {
      display: grid;
      grid-template:
        "firstName  lastName"
        "email phone"
        "role  org";
      grid-gap: 1rem;
    }

    @media (min-width: 900px) {
      #form {
        display: grid;
        grid-template:
          "firstName lastName"
          "email phone"
          "role org";
        grid-gap: 1rem;
      }
    }

    @media (max-width: 600px) {
      #form {
        display: grid;
        grid-template:
          "firstName"
          "lastName"
          "email"
          "phone"
          "role"
          "org";
        grid-gap: 1rem;
      }
    }

    @media (max-width: 900px) {
      .hide-on-mobile {
        display: none;
      }
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .form-group button {
      background-color: #555;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #45a049;
    }

    .container {
      padding-top: 40px;
    }

    .error-text {
      color: #c00;
      display: none;
    }

    .single-social-icon-wrapper {
      background-color: #4a6270;
      display: inline-block;
      border-radius: 8px;
      padding: 10px;
      margin-top: 20px;
      vertical-align: middle;
      margin-left: 25px;
      max-width: 35px;
    }

    .bonus-entries {
      font-size: 18;
      color: #000;
      padding: 6px;
      display: none;
    }
  </style>
</head>

<body>
  <%- include('header', {user: 'Chris Yerga'}) %>

  <script>
    function submitClicked() {
      const submitButton = document.getElementById("submit-button");
      submitButton.style.backgroundColor = "#999";
    }
  </script>

  <div class="bg-mint">
    <div class="container bg-mint">
      <div style="display: inline-block; margin-bottom: 35px">
        <img src="../../images/WCS-Logo-Horiz_4C-1.png" width="32%" />
        <div style="width: 30%; display:inline-block"></div>
        <a href="https://the-differents.com">
          <img src="../../images/differents-logo-whiteprimary_black-large.png" width="32%" />
        </a>
      </div>
      <h1 style="padding-bottom: 24px">Raffle Entry Form</h1>
      <p style="padding-bottom: 38px">Enter your name and contact information below to be entered into our raffle. Alternatively, ask at our booth #424 in the exhibitor area.</p>
      <p style="padding-bottom: 38px">If you already entered, you can check the <a href="./drawing">results of completed drawings.</a></p>
      <form action="register" id="form" method="post">
        <div class="form-group" style="grid-area: firstName">
          <label for="firstName">First Name (Required):</label>
          <input type="text" id="firstName" name="firstName" required />
        </div>
        <div class="form-group" style="grid-area: lastName">
          <label for="lastName">Last Name (Required):</label>
          <input type="text" id="lastName" name="lastName" required />
        </div>
        <div class="form-group">
          <label for="email">Email (Required):</label>
          <input type="email" id="email" name="email" required />
          <div id='email-error' class="error-text">That email has already registered</div>
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" id="phone" name="phone" />
        </div>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" />
        </div>
        <div class="form-group">
          <label for="company">Company:</label>
          <input type="text" id="company" name="company" />
        </div>

        <p>Get bonus entries for following our social accounts. Click each social icon to view our page and follow from there.</p>

        <div class="single-social-icon-wrapper">
          <a href="http://facebook.com/therealdifferents" aria-label="Facebook" rel="noopener">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 62.6 121.1" height="35px" width="35px" viewBox="0 0 62.6 121.1">
              <path d="M62.6 19.9V.2S42.4 0 41.1 0C32 0 18.9 10.4 18.9 22.1v21.1H0v22.4h18.6v55.5h22V65.3h19.5l2.5-21.9H40.9V27.3c0-3.9 2.9-7.6 7.3-7.6 2.9.1 14.4.2 14.4.2z" style="fill:#fff"></path>
            </svg>
          </a>
        </div>

        <div class="single-social-icon-wrapper">
          <a href="http://twitter.com/realdifferents" aria-label="Twitter" rel="noopener">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 120.9 96.9" height="35px" width="35px" viewBox="0 0 120.9 96.9">
              <path d="M101 7.4S94.6-.3 83.5.1c-13.2.4-25.4 8.5-24 29.2 0 0-19.9 6.1-50.8-23.3 0 0-9.9 16.2 7.6 31.5 0 0-4.9 1.4-11.5-2.3 0 0-3.5 13.7 19.1 24.1 0 0-7.6 2.2-11.1 0 0 0 2 14.6 22.3 18 0 0-10.4 10.4-35.2 10.1 0 0 51.4 26.3 87-7.5 25.4-24.1 21.9-56.3 21.9-56.3s7.5-2.3 12-10.4c0 0-8.5 2.7-13.4 2.2 0 0 9.4-5.8 10.1-12.8.1-.2-7.9 5.5-16.5 4.8z" style="fill:#fff"></path>
            </svg>
          </a>
        </div>

        <div class="single-social-icon-wrapper">
          <a href="http://instagram.com/therealdifferents" aria-label="Instagram" rel="noopener">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" style="enable-background:new 0 0 121.1 121.1" version="1.1" height="35px" width="35px" viewBox="0 0 121.1 121.1">
              <style>
                .st0 {
                  fill: #fff
                }
              </style>
              <path d="M83.7 121.1H37.4C16.8 121.1 0 104.3 0 83.7V37.4C0 16.8 16.8 0 37.4 0h46.3c20.6 0 37.4 16.8 37.4 37.4v46.3c0 20.6-16.8 37.4-37.4 37.4zM37.4 13.5c-13.2 0-23.9 10.7-23.9 23.9v46.3c0 13.2 10.7 23.9 23.9 23.9h46.3c13.2 0 23.9-10.7 23.9-23.9V37.4c0-13.2-10.7-23.9-23.9-23.9H37.4z" class="st0"></path>
              <path d="M60.6 91.5c-17.1 0-31-13.9-31-31s13.9-31 31-31 31 13.9 31 31c-.1 17.1-14 31-31 31zm0-49.7c-10.4 0-18.8 8.4-18.8 18.8s8.4 18.8 18.8 18.8S79.4 71 79.4 60.6s-8.5-18.8-18.8-18.8z" class="st0"></path>
              <circle cx="93.1" cy="27.8" r="5.2" class="st0"></circle>
            </svg>
          </a>
        </div>

        <div class="single-social-icon-wrapper">
          <a href="http://linkedin.com/company/therealdifferents" aria-label="Linked In" rel="noopener">
            <?xml version="1.0" encoding="UTF-8"?>
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="35px" height="35px" viewBox="0 0 55.2 55.5">
              <path fill="#fff" fill-rule="evenodd" d="M1.1 18.7h11v36.8h-11V18.7zM6.5 0c3.7 0 6.6 3 6.6 6.6s-3 6.6-6.6 6.6c-3.7 0-6.5-3-6.5-6.6S2.8 0 6.5 0zm12 18.7h10.8v5.1c2.3-3.4 6.1-5.5 10.4-5.5h3c6.9 0 12.4 5.7 12.4 12.4v24.7H44.4V35.6c-.1-4.2-3-7.4-7.2-7.4s-7.7 3.2-7.8 7.4v19.8H18.5V18.7z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
        <br />
        <div style="padding-top: 20px"></div>
        <label for="followSocials">I follow your social accounts</label>
        <input name="followSocials" onclick="calculateBonus()" type="checkbox" id="followSocials" />
        <div style="padding-top: 30px"></div>
        <div id="bonus-entries" class="bonus-entries">
          <p id="bonus-entries">Bonus entry granted</p>
        </div>
        <div style="padding-top: 50px"></div>
        <div class="form-group">
          <button type="submit" id="submit-button" onclick="submitClicked()">
            Enter Raffle
          </button>
        </div>
      </form>
    </div>

    <div style="padding-bottom: 500px"></div>
  </div>

  <script>
    // If the fetch() API is available, try to check for a duplicate entry
    // when the user tabs out of the email input field
    if (window.fetch) {
      document.getElementById('email').addEventListener("focusout", async (event) => {
        // Call our /email-registered API
        email = document.getElementById('email').value;
        const response = await fetch(`email-registered/${email}`);
        const dbEmail = await response.json();

        if (dbEmail.exists) {
          // email exists, so display error and disable submit button
          document.getElementById('email-error').style.display = 'block';
          document.getElementById('submit-button').setAttribute('disabled', 'disabled');
          document.getElementById('submit-button').style.backgroundColor = '#aaa';
        } else {
          document.getElementById('email-error').style.display = 'none';
          document.getElementById('submit-button').removeAttribute('disabled');
          document.getElementById('submit-button').style.backgroundColor = '#555';
        }
      });
    }

    function calculateBonus() {
      document.getElementById('bonus-entries').style.display = "none"
      if (document.getElementById('followSocials').checked) {
        document.getElementById('bonus-entries').style.display = "inline-block"
      }
    }
  </script>
</body>

</html>