* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none;
  font-family: "nobel", sans-serif;
  xxxbackground-color: #436372;
}

body {
  font-size: 20px;
}

/* --- Mabble Brand Guide Styles --- */

.color-teal {
  color: #436372;
}
.color-mint {
  color: #c0e1da;
}
.color-powder {
  color: #fbf9f9;
}
.color-coral {
  color: #f49d79;
}
.color-space {
  color: #1b2f37;
}
.color-darkcyan {
  color: #436372;
}
.color-zest {
  color: #eedd43;
}

.bg-midnight {
  background-color: #232e36;
}

.bg-teal {
  background-color: #436372;
}
.bg-mint {
  background-color: #c0e1da;
}
.bg-powder {
  background-color: #fbf9f9;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center !important;
  background-color: #436372;
  height: 66px;
}

.header-logo {
  padding: 10px;
}
.button {
  padding: 15px 32px 15px 32px;
  border-radius: 5rem;
  background-color: #eedd43;
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  vertical-align: baseline;
}

ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 24px;
  padding-top: 8px;
  /*  padding: min(40px, calc(100vw / 1280 * 40)); */
  background: transparent;
  position: relative;
  top: -50px;
}

li {
  list-style: none;
  font-size: 13px;
  font-weight: bold;
  font-variant-caps: small-caps;
  padding-top: 13px;
  letter-spacing: 1px;
  margin-left: calc(100vw / 1280 * 25);
}

li.last-item {
  margin-right: calc(200 * 100vw / 1280);
}

li a {
  text-decoration: none;
  color: #c0e1da;
  opacity: 100%;
  transition: color 666ms;
}

section {
  display: grid;
  place-items: center;
  font-size: 50px;
  width: 50%;
}

section.hero {
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
}

#about-section {
  width: 100vw;
}

:root {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  :root {
    font-size: calc(0.4545454545vw + 14.5454545455px);
  }
}
@media screen and (min-width: 3840px) {
  :root {
    font-size: 32px;
  }
}
